<div class ="jumbotron center">
	<h1>Piiinteresting!</h1>	
	<%= link_to "Log In!", "#", class:"btn btn-primary" %>	
	<%= link_to "No login? Click me to sign up!", "#", class:"btn btn-primary" %>
</div>